.card {
    background-color:  rgba(68, 68, 68, 0.434);
    border:  hsla(0, 0%, 21%, 0.50) 2px;
    margin: 20px;
    width: 15rem;
    border-radius: 10px;
    text-align: center;
    padding: 7.5px;
    text-decoration: none;
}

h5 {
    color: white;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

img {
    width: calc(100% - 10px);
    height: 150px;
    position: relative;
    border-radius: 5px;
    
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px 10px;
    margin: 5px 5px 0px 5px;
    
}

span {
    grid-column: span 2;
    border: solid #C4AF3D 1.5px;
    color: #e3e9f9;;
    border-radius: 5px;
    font-size: 15px;
    padding: 2px 2px;
    font-weight: 500;
    
}

span:last-child:nth-child(3n - 1) {
    grid-column-end: -2;
}

span:nth-last-child(2):nth-child(3n + 1) {
    grid-column-end: 4;
}

span:last-child:nth-child(3n - 2) {
    grid-column-end: 5;
}

.body {
    margin-top: 0px !important;
    padding-top: 0px !important;
}

.imageContainer {
    position: relative;
    
}

.imageRating {
    border-radius: 5px 0px 5px 0px;
    position: absolute;
    top: 0px;
    left: 5px;
    font-size: 15px;
    font-weight: 500;
    color: #C4AF3D;
    background-color: hsla(0, 2%, 33%, 0.75);
    padding: 0px 5px 0px 5px;
}

/* .grid {
    opacity: 0;
}

.card:hover .grid{
    opacity: 1;
} */
.image{
    opacity: 0.8;
}

.card:hover .image{
    
    opacity: 1;
    
   
}

.card:hover{
    transform: scale(1.1) ;
}

