/* .container {
    background-color: hsla(0, 0%, 19%, 0.75);
    border: solid hsla(0, 0%, 21%, 0.50) 2px;
    margin: 100px;
    width: 1000px;
    border-radius: 10px;
    padding: 7.5px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-auto-rows: 200px;
    place-content: center;

} */

.container img {
    /* background: no-repeat bottom right fixed; */
    /* display: flex; */
    width:65vw;
    height:65vh; 
    /* background-size: cover; */
    /* flex-direction: column;   */
     /* align-content: center; */
    align-items: center; 
    top: 25vh;
    /* top:150px; */
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    justify-content: center;
} */

}